span.badge {
	-moz-border-radius   : 5px;
	-webkit-border-radius: 5px;
	border-radius        : 5px;

	border        : 1px solid #363434;
	float         : right;
	padding-left  : 3px;
	padding-right : 3px;
	padding-top   : 0px;
	padding-bottom: 0px;
	margin        : 3px;
	width         : 100px;
	display       : inline-block;
	font-size     : 14px;
	text-align    : center;
	color         : white;
}

span.InDev {
	background-color: #890000;
}

span.Released {
	background-color: #fdec5f;
}

span.Stopped {
	background-color: #5c5c5c;
}
