.navi ul {
	margin: 0px;
	padding: 0px;
}

.navi ul li {
	margin: 0px;
	margin-right: 1px;
	width: 144px;
	list-style: none;
	float: left;
	text-align: center;
}

.navi ul li a {
	display: block;
	background: #1b1919;
	padding: 5px 0 5px 0px;
	color: #b5b1b1;
	text-decoration: none;
	font-weight: bold;
}

.navi ul li a:hover {
	color: #ffffff;
	background: #000;
}
