p {
	margin    : 0px;
	padding   : 0px;
	text-align: justify;
}

code.control {
	-moz-border-radius   : 5px;
	-webkit-border-radius: 5px;
	border-radius        : 5px;

	border        : 1px solid #363434;
	padding-left  : 3px;
	padding-right : 3px;
	margin        : 3px;
	width         : 100px;
	display       : inline-block;
	text-align    : center;
}

p.thread_info {
	float: right;
}

p.thread_desc {
	margin-top: -10px;
}
